<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>About</title>

</head>
<body>
    <div class="main-content">
        {{>header}}
        This website was created by Rishabh Purohit. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a><br>
        & <a href="https://www.weatherapi.com/">weatherapi.com</a><br><br><br>
        <img src="/img/IMG.jpg" class='portrait'>
        <p><a href='https://github.com/rishabhpurohit'>GitHub</a>  <a href='https://www.linkedin.com/in/r-purohit/'>LinkedIn</a> </p>
    </div>
    
    {{>footer}}
</body>
</html>